<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4</string>
		<key>delay</key>
		<string>0,2</string>
		<key>filenamePrefix</key>
		<string>Thumbelina0</string>
	</dict>
</dict>
</plist>
