<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plus01.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,657},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>plus02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,657},{194,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,194}}</string>
			<key>sourceSize</key>
			<string>{194,194}</string>
		</dict>
		<key>plus04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,657},{194,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,194}}</string>
			<key>sourceSize</key>
			<string>{194,194}</string>
		</dict>
		<key>plus03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,456},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>plussplash.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{455,455}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,455}}</string>
			<key>sourceSize</key>
			<string>{455,455}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,1024}</string>
		<key>textureFileName</key>
		<string>plus.png</string>
	</dict>
</dict>
</plist>
