<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{318,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,220}}</string>
			<key>sourceSize</key>
			<string>{318,220}</string>
		</dict>
		<key>spider03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,221},{318,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,220}}</string>
			<key>sourceSize</key>
			<string>{318,220}</string>
		</dict>
		<key>spider05.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,0},{318,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,220}}</string>
			<key>sourceSize</key>
			<string>{318,220}</string>
		</dict>
		<key>spider02.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,0},{315,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,220}}</string>
			<key>sourceSize</key>
			<string>{315,220}</string>
		</dict>
		<key>spider04.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,221},{315,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,220}}</string>
			<key>sourceSize</key>
			<string>{315,220}</string>
		</dict>
		<key>spider06.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,221},{315,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,220}}</string>
			<key>sourceSize</key>
			<string>{315,220}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>spider.png</string>
	</dict>
</dict>
</plist>
