<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Thumbelina01.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,1557},{389,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,388}}</string>
			<key>sourceSize</key>
			<string>{389,388}</string>
		</dict>
		<key>Thumbelina02.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,1168},{389,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,388}}</string>
			<key>sourceSize</key>
			<string>{389,388}</string>
		</dict>
		<key>Thumbelina03.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,779},{389,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,388}}</string>
			<key>sourceSize</key>
			<string>{389,388}</string>
		</dict>
		<key>Thumbelina04.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,390},{389,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,388}}</string>
			<key>sourceSize</key>
			<string>{389,388}</string>
		</dict>
		<key>ThumbelinaLeft01.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,0},{389,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,389}}</string>
			<key>sourceSize</key>
			<string>{389,389}</string>
		</dict>
		<key>ThumbelinaLeft02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1560},{389,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,389}}</string>
			<key>sourceSize</key>
			<string>{389,389}</string>
		</dict>
		<key>ThumbelinaLeft03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1170},{389,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,389}}</string>
			<key>sourceSize</key>
			<string>{389,389}</string>
		</dict>
		<key>ThumbelinaRight01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,780},{389,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,389}}</string>
			<key>sourceSize</key>
			<string>{389,389}</string>
		</dict>
		<key>ThumbelinaRight02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,390},{389,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,389}}</string>
			<key>sourceSize</key>
			<string>{389,389}</string>
		</dict>
		<key>ThumbelinaRight03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{389,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,389}}</string>
			<key>sourceSize</key>
			<string>{389,389}</string>
		</dict>
		<key>splash01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1147,1560},{366,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{366,388}}</string>
			<key>sourceSize</key>
			<string>{366,388}</string>
		</dict>
		<key>splash01a.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,390},{366,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{366,388}}</string>
			<key>sourceSize</key>
			<string>{366,388}</string>
		</dict>
		<key>splash01b.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,1560},{366,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{366,388}}</string>
			<key>sourceSize</key>
			<string>{366,388}</string>
		</dict>
		<key>splash02.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,1170},{385,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{385,389}}</string>
			<key>sourceSize</key>
			<string>{385,389}</string>
		</dict>
		<key>splash02a.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,390},{385,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{385,389}}</string>
			<key>sourceSize</key>
			<string>{385,389}</string>
		</dict>
		<key>splash02b.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,780},{385,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{385,389}}</string>
			<key>sourceSize</key>
			<string>{385,389}</string>
		</dict>
		<key>splash03.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,0},{388,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{388,389}}</string>
			<key>sourceSize</key>
			<string>{388,389}</string>
		</dict>
		<key>splash03a.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,779},{249,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,384}}</string>
			<key>sourceSize</key>
			<string>{249,384}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>tgirl.png</string>
	</dict>
</dict>
</plist>
