<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Thumbelina01.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{389,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,388}}</string>
                <key>sourceSize</key>
                <string>{389,388}</string>
            </dict>
            <key>Thumbelina02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{389,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,388}}</string>
                <key>sourceSize</key>
                <string>{389,388}</string>
            </dict>
            <key>Thumbelina03.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,392},{389,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,388}}</string>
                <key>sourceSize</key>
                <string>{389,388}</string>
            </dict>
            <key>Thumbelina04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,392},{389,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,388}}</string>
                <key>sourceSize</key>
                <string>{389,388}</string>
            </dict>
            <key>ThumbelinaLeft01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,389}}</string>
                <key>sourceSize</key>
                <string>{389,389}</string>
            </dict>
            <key>ThumbelinaLeft02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{389,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,389}}</string>
                <key>sourceSize</key>
                <string>{389,389}</string>
            </dict>
            <key>ThumbelinaLeft03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{389,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,389}}</string>
                <key>sourceSize</key>
                <string>{389,389}</string>
            </dict>
            <key>ThumbelinaRight01.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{389,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,389}}</string>
                <key>sourceSize</key>
                <string>{389,389}</string>
            </dict>
            <key>ThumbelinaRight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,393},{389,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,389}}</string>
                <key>sourceSize</key>
                <string>{389,389}</string>
            </dict>
            <key>ThumbelinaRight03.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,784},{389,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,389}}</string>
                <key>sourceSize</key>
                <string>{389,389}</string>
            </dict>
            <key>splash01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,784},{366,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,388}}</string>
                <key>sourceSize</key>
                <string>{366,388}</string>
            </dict>
            <key>splash01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,1152},{366,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,388}}</string>
                <key>sourceSize</key>
                <string>{366,388}</string>
            </dict>
            <key>splash01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1169},{366,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,388}}</string>
                <key>sourceSize</key>
                <string>{366,388}</string>
            </dict>
            <key>splash02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{385,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,389}}</string>
                <key>sourceSize</key>
                <string>{385,389}</string>
            </dict>
            <key>splash02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,393},{385,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,389}}</string>
                <key>sourceSize</key>
                <string>{385,389}</string>
            </dict>
            <key>splash02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,782},{385,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,389}}</string>
                <key>sourceSize</key>
                <string>{385,389}</string>
            </dict>
            <key>splash03.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,784},{388,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tgirl.png</string>
            <key>size</key>
            <string>{1955,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09e57686db30eb0889966b59ed9dd32f:863c52a6ef5dddf848f39fdc0dc45a1f:1ff1073a0a3dbfe4463ab79d4258c0e3$</string>
            <key>textureFileName</key>
            <string>tgirl.png</string>
        </dict>
    </dict>
</plist>
