<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>topbottom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>topbottom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,66},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>topbottom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,0},{52,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{52,65}}</string>
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>

			<key>topbottom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,131},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>topbottom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,65},{52,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,65}}</string>
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>

			<key>topleft01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topleft02.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topleft03.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topleft06.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,53},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topleft07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,53},{64,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,51}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topright01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topright02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topright03.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,158},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topright06.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,105},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>topright07.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,53},{64,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{64,51}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>

			<key>toptop01.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,171},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>toptop02.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,106},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>toptop03.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,171},{52,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,65}}</string>
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>

			<key>toptop06.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,106},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>

			<key>toptop07.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,131},{52,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{52,65}}</string>
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>tgirlgo.png</string>
			</dict>
		</dict>
</plist>