<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ThumbelinaGo01bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,172},{62,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,171}}</string>
			<key>sourceSize</key>
			<string>{62,171}</string>
		</dict>
		<key>ThumbelinaGo01left.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,172},{60,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,171}}</string>
			<key>sourceSize</key>
			<string>{64,171}</string>
		</dict>
		<key>ThumbelinaGo01right.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,0},{60,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{60,171}}</string>
			<key>sourceSize</key>
			<string>{64,171}</string>
		</dict>
		<key>ThumbelinaGo01top.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{62,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,171}}</string>
			<key>sourceSize</key>
			<string>{64,171}</string>
		</dict>
		<key>ThumbelinaGo02bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,172},{63,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,171}}</string>
			<key>sourceSize</key>
			<string>{64,171}</string>
		</dict>
		<key>ThumbelinaGo02left.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,0},{50,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{50,171}}</string>
			<key>sourceSize</key>
			<string>{64,171}</string>
		</dict>
		<key>ThumbelinaGo02right.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,172},{50,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{50,171}}</string>
			<key>sourceSize</key>
			<string>{64,171}</string>
		</dict>
		<key>ThumbelinaGo02top.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{63,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,171}}</string>
			<key>sourceSize</key>
			<string>{64,171}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256,512}</string>
		<key>textureFileName</key>
		<string>tgirlgo.png</string>
	</dict>
</dict>
</plist>
